body {
  background-color: lightsalmon;
  display: flex;
  justify-content: center;



}

img {
  max-width: 20%;
  height: auto;
  
}
h1{
  font-size: 3em
}

button {
  
}
.addCustomer {
  display: flex;
  flex-direction: column;
  
  
}
.addcus {
  font-size: 2em;
  background-color: gray;
  width: 20vw


}
input {
  width: 20vw
}

main{
  color: black;
  width: 8vw;
  height: auto;
  font-size: 14px;
  background-color:red



}